* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.niveis {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
   
}

.niveis h1 {
    font-family: 'Titan One', cursive;
    letter-spacing: 0.20em;
    font-size: 3rem;
    background-size: 100%;
    color: #d374a1;
}

.niveis .ka {
    height: 62.5%;
    width: 0.5em;
    border-radius: 10px;
   
}

.niveis .botoes {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
}

button {
    z-index: 1;
    font-family: 'Titan One', cursive;
    position: relative;
    font-size: inherit;
    border-radius: 1em;
    letter-spacing: 0.15em;
    color: #d374a1;
    padding: 0.75em 1.5em;
    border: none;
    overflow: hidden;
    background-color: black;
  
}

button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.75em;
    height: 1em;
    border-radius: 50%;
    background-color: #d374a1;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

button:hover {
    cursor: pointer;
    color: black;
}

button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}